body{
    text-align: center;
    background-color: #fffbf5;
}
table{
    margin: auto;
    border: 3px solid;
    border-color:maroon;
    border-collapse: collapse;
    border-spacing: 10px;
}
th, td {
    border: 3px solid;
    border-color:maroon;
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 10px;
}